
body {
  background: #BEF05D;
  width: 100vw;

}


.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #BEF05D;
  margin-bottom: 150px;
  border-bottom: 2px solid yellowgreen;
}

.difficulty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  gap: 10px;
}
a {
  cursor: pointer;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 25%;
  padding: 5px;
}
a:hover {
  background: black;
  color: #BEF05D;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 768px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

.targetScoreInput {
  width: 30px;
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
  .app {
    padding: 4rem 2rem;
  }
  .header {
    margin-bottom: 340px;
  }

  .grid {

    width: 100vw;
    height: 100vh;
  }
  img {
    width: 250px;
    height: 200px;
  }

  .header {
    font-size: 1rem;
    width: 100vw;
  }

  .targetScoreInput {
    width: 20px;
    height: 20px;
  }
}

/*@media screen and (max-width: 400px) {*/
/*  .app {*/
/*    padding: 4rem 1rem;*/
/*  }*/

/*  h1 {*/
/*    font-size: 2rem;*/
/*  }*/

/*  .container {*/
/*    margin-top: 2rem;*/
/*  }*/

/*  .movie {*/
/*    width: 100%;*/
/*    margin: 1rem;*/
/*  }*/
/*}*/